$padding: 1em;
$padding-r: 1rem;

$color-light: #ffffff;
$color-light-2: #eeeeee;

$color-icon: lighten(#000000, 35%);
$color-icon-negative: #f44336;

@mixin flex-container() {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

@mixin card() {
  display: block;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(#000000, 0.2);
}

@mixin padding-horizontal($f: 1) {
  $padding: calc(#{$padding} * #{$f});
  padding-right: $padding;
  padding-left: $padding;
}

@mixin padding-vertical($f: 1) {
  $padding: calc(#{$padding} * #{$f});
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin padding($f: 1) {
  @include padding-horizontal($f);
  @include padding-vertical($f);
}

@mixin button($padding-horizontal-f: 1, $padding-vertical-f: 0.5) {
  @include padding-horizontal($padding-horizontal-f);
  @include padding-vertical($padding-vertical-f);
  background: #ffffff;
  border: 2px solid #E0E0E0;
  font-size: 1em;
  line-height: 1;
}

@mixin icon() {
  width: 3em;
  height: 3em;
  position: relative;

  i {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    margin: auto;
    width: 1em;
    height: 1em;
    color: $color-icon;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.negative {
      color: $color-icon-negative;
    }

    &.corner {
      font-size: 1em;
      top: auto;
      right: 0.5em;
      bottom: 0.5em;
      left: auto;
    }
  }
}
.negative {}

@mixin icon-button {
  @include icon;

  display: block;
  padding: 0;
  background: none;
  border: none;
  font-size: 1rem;

  &[disabled] {
    opacity: 0.5;
  }
}

// layout

@mixin clamp() {
  > * {
    flex-grow: 0;
  }
}

@mixin m-between() { justify-content: space-between; }
@mixin x-start() { align-items: flex-start; }
@mixin x-center() { align-items: center; }
@mixin no-flex() { flex: none; }

@mixin box() {
  display: flex;
  min-width: 0;
  min-height: 0;

  > * {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    @for $i from 0 through 20 {
      $v: 5 * $i;

      &.flex-#{$v} {
        flex-basis: #{$v}#{'%'};
      }
    }

    &.no-flex { @include no-flex; }
  }

  &.clamp { @include clamp; }
  &.m-between { @include m-between; }
  &.x-start { @include x-start; }
  &.x-center { @include x-center; }
}

@mixin h-box() {
  @include box;
  flex-direction: row;

  > .h-box,
  > .v-box {
    height: 100%;
  }
}

@mixin v-box() {
  @include box;
  flex-direction: column;

  > .h-box,
  > .v-box {
    width: 100%;
  }
}
