@import "shared";

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/opensans-regular.woff2') format('woff2'), url('assets/fonts/opensans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('assets/fonts/opensans-bold.woff2') format('woff2'), url('assets/fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('assets/fonts/MaterialIcons-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: $color-light-2;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

input {
  padding: 0 1em;
  width: 15em;
  height: 3em;
  background: #ffffff;
  border: 1px solid #BDBDBD;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.button {
  @include button;
}

.icon {
  @include icon;
}

.icon-button {
  @include icon-button;
}

// layout

.h-box { @include h-box; }

.v-box { @include v-box; }

.clamp { @include clamp; }

.m-between { @include m-between; }

.x-start { @include x-start; }

.x-center { @include x-center; }

.no-flex { @include no-flex; }

// because of encapsulation and reasons

.canvas-container {
  margin: auto;
  width: auto !important;
  height: auto !important;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
