@import "../../../shared";

:host {
  @include card;
  @include h-box;

  margin: 0 0 $padding 0;
  width: calc((100% - #{$padding}) / 2);
  height: 6rem;

  &:nth-child(odd) {
    margin-right: $padding;
  }
}

.preview {
  width: calc(6rem * 16 / 9);
  height: 100%;
  position: relative;

  img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .icon {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}

.content {
  margin: 0 1rem;
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tags {
  overflow: hidden;
}

.tag {
  margin: 0 0.5em 0 0;
  padding: 0.5em;
  background: rgba($color-light-2, 0.5);
  font-size: 0.9em;
}
