<div class="preview no-flex">
  <img src="{{ cardSet.preview }}" *ngIf="cardSet.preview">

  <div class="icon">
    <i *ngIf="!cardSet.preview">block</i>
  </div>
</div>

<div class="content v-box x-start">
  <div class="flex-55 h-box x-center">
    <div class="name">{{ cardSet.name }}</div>
  </div>

  <div class="tags flex-45 h-box clamp x-start">
    <div class="tag no-flex" *ngFor="let tag of cardSet.tags">{{ tag }}</div>
  </div>
</div>
