@import "../../../shared";

:host {
  display: block;
  position: relative;
}

.canvas-wrapper {
  @include card;

  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
