@import "../../../shared";

:host {
  @include flex-container();

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
}

.form-group {
  margin: 0 0 1em 0;
}

label {
  display: block;
  margin: 0 0 0.25em 0.25em;
  opacity: 0.75;
}

input {
  width: 15em;
  height: 3em;
}

button {
  @include button(1, 1);

  margin: 1em 0 0 0;
  width: 100%;

  &[disabled] {
    color: inherit;
    opacity: 0.75;
  }
}

.error {
  padding: ($padding * 0.5) 0;
  color: #f44336;
}
