<app-title class="title" [text]="'Login'"></app-title>

<div class="error">{{ error || '&nbsp;' }}</div>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">username</label>
    <input id="username" type="text" name="username" [(ngModel)]="data.username">
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input id="password" type="password" name="password" [(ngModel)]="data.password">
  </div>

  <button type="submit" [disabled]="isSending">Login</button>
</form>
