@import "../../../_shared";

:host {
  @include card;
  @include padding(0.5);
  @include h-box;
  @include clamp;
  @include m-between;

  height: 4em;
}

.group-border {
  padding: 0 0 0 1rem;
  border-left: 1px solid $color-light-2;
}

.locked {
  margin-left: $padding * 0.5;
  align-self: center;
}

.logout {
  margin: 0 ($padding * 2) 0 0;
}
