<div class="h-box">
  <div class="h-box" *ngIf="onBack">
    <button class="icon-button" (click)="onBack()">
      <i>arrow_back</i>
    </button>
  </div>
</div>

<div class="h-box">
  <div class="group-border h-box" *ngIf="lesson">
    <button class="icon-button" (click)="onLockLessonClick()">
      <i *ngIf="!lesson.isLocked">lock_open</i>
      <i *ngIf="lesson.isLocked">lock_outline</i>
    </button>

    <button class="icon-button" (click)="onClearLessonClick()"
            *ngIf="user && user.type == userType.Teacher && isRegistered">
      <i>delete_forever</i>
    </button>

    <button class="icon-button" (click)="onPreviousCardClick()" [disabled]="!isPreviousCard"
            *ngIf="user && user.type == userType.Teacher && isRegistered">
      <i>chevron_left</i>
    </button>

    <button class="icon-button" (click)="onNextCardClick()" [disabled]="!isNextCard"
            *ngIf="user && user.type == userType.Teacher && isRegistered">
      <i>chevron_right</i>
    </button>
  </div>
</div>

<div class="h-box">
  <div class="group-border h-box x-center" *ngIf="user && isRegistered">
    <div class="user-info">{{user.displayName}}</div>

    <button class="logout icon-button" (click)="onLogoutClick();">
      <i>exit_to_app</i>
    </button>

    <button class="icon-button" (click)="onStudentListClick();">
      <i>menu</i>
    </button>
  </div>
</div>
