<app-action-bar class="no-flex" [(contextBarEnabled)]="contextBarEnabled" [(studentListEnabled)]="studentListEnabled"
                *ngIf="isRegistered"></app-action-bar>
<router-outlet></router-outlet>
<app-student-list [(enabled)]="studentListEnabled"></app-student-list>
<app-version></app-version>
<app-notification></app-notification>
<app-latency></app-latency>
