@import "../../../_shared";

:host {
  @include card;
  @include padding();

  position: fixed;
  top: 4em;
  right: 0;
  bottom: 0;
  width: 16em;
  background: #ffffff;
  transition: all 400ms ease-in-out;
  transform: translate3d(16em, 0, 0);

  &.enabled {
    transform: translate3d(0, 0, 0);
  }
}

.list {
  display: flex;
  flex-direction: column;

  .student {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: 3rem * 0.4;
      color: #ffffff;

      &.inactive {
        border: 0.5rem solid #ffffff;
        border-radius: 50%;
        opacity: 0.3;
      }
    }

    .name {
      flex-grow: 1;
    }

    .actions {
      justify-self: flex-end;
    }
  }
}

