<div class="list">
  <div class="student" *ngFor="let student of registeredUsers?.users | user:userType.Student">
    <div class="avatar" [class.inactive]="!student.isActive" [ngStyle]="{'background-color': student.color}">{{ student.symbol }}</div>

    <div class="name">{{student.displayName}}</div>

    <div class="actions" *ngIf="isLesson && user.type == userType.Teacher">
      <button class="icon-button" (click)="onStudentClearClick(student);">
        <i>delete_forever</i>
      </button>
    </div>
  </div>
</div>
