@import "../../../_shared";

:host {
  @include card;
  @include padding();

  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4em;
  left: 0;
  bottom: 0;
  width: 16em;
  transition: all 400ms ease-in-out;
  transform: translate3d(-16em, 0, 0);

  &.enabled {
    transform: translate3d(0, 0, 0);
  }
}

button {
  @include button;
  @include padding-vertical();

  margin-bottom: $padding;
}
