@import "../../../shared";

:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 66vw;
  position: fixed;
  top: 1em;
  right: 0;
  left: 0;
  z-index: 100;
}

.notification {
  @include card();

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  color: #f44336;

  &:not(:last-child) {
    margin: 0 0 0.5em 0;
  }
}
