@import "../../../shared";

:host {
  @include flex-container;
  @include padding;

  flex-direction: column;
}

.title {
  padding-left: $padding-r;
}

.cards {
  @include flex-container;

  overflow-y: auto;
}
