<div class="h-box">
  <app-title class="title" [text]="'Cardsets'"></app-title>

  <form class="tag-filter no-flex h-box x-center">
    <label for="tags">Tags</label>
    <input id="tags" name="tags" type="text" placeholder="filter" [(ngModel)]="tagFilter" (keyup)="filter()">
  </form>
</div>

<div class="cards">
  <app-card-set-list-item *ngFor="let cardSet of cardSets" [cardSet]="cardSet" (click)="onCardSetClick(cardSet)"></app-card-set-list-item>
</div>
