@import "../../../shared";

:host {
  @include flex-container;
  @include padding;

  flex-direction: column;
}

.title {
  padding-left: $padding-r;
}

.cards {
  @include flex-container;

  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
}

.tag-filter {
  label {
    margin: 0 1rem 0 0;
    font-size: 1.1rem;
  }
}
