@import "../../../shared";

:host {
  @include card();

  margin: 0 0 $padding 0;
  width: calc((100% - (#{$padding} * 3)) / 4);

  &:not(:nth-child(4n)) {
    margin-right: $padding;
  }
}

.name {
  @include padding();

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.preview {
  padding: calc(100% * 9 / 16) 0 0 0;
  position: relative;

  img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .icon {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}
