:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#000000, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon {
  width: 50px;
  height: 50px;
  background: #000000;
  border-radius: 50%;
  opacity: 0.5;
}
